{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "tastie-deploy",
    "Key": ".dockercfg"
  },
  "Image": {
    "Name": "${CI_REGISTRY_IMAGE}:${APP_VERSION}",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}
